.chat_list_group {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  max-width: 700px;
  padding: 0px 10px;
  min-height: calc(100vh);
}

.chat_list_group h1 {
  font-size: 35px;
  margin-bottom: 30px;
}

.chat_list_group > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid #0a0a0a;
}

.chat_list_group div div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #8a8a8a;
}

.chat_list_group div div div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.chat_list_group div div div:nth-child(2) {
  width: 15%;
}

.chat_list_group div div div:nth-child(2) p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4a01;
  min-width: 26px;
  min-height: 26px;
  border-radius: 24px;
  color: #fcfefd;
  font-size: 17px;
  margin-right: 27px;
}

.chat_list_group div div div:nth-child(1) p:nth-child(1) {
  margin-left: 0px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 5px;
}

.chat_list_group div div div:nth-child(1) p:nth-child(2) {
  display: inline-flex;
  margin-left: 0px;
  font-weight: 500;
  font-size: 22px;
  color: #8a8a8a;
  max-width: 500px;
}

.chat_list_group div div div:nth-child(1) p:nth-child(2) span {
  margin-left: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.chat_group {
  display: flex;
  margin-top: 65px;
  flex-direction: column;
  max-width: 700px;
  padding: 0px 10px;
}

.inquiry_group {
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  max-width: 700px;
  padding: 0px 10px;
  height: 80vh;
}

.inquiry_group2 {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  max-width: 700px;
  padding: 0px 10px;
  height: 80vh;
}

.chat_product_group img {
  width: 90px;
  height: 90px;
  margin-left: 0px;
}

.chat_product_group {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
}

.chat_product_group span {
  font-weight: 500;
  font-size: 19px;
  color: #8a8a8a;
}

.chat_product_group .chat_product {
  display: flex;
  gap: 10px;
  height: 90px;
}

.chat_product div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.chat_group div div p {
  margin-left: 0px;
  font-size: 17px;
  font-weight: 600;
}

.chat_line {
  height: 1px;
  width: 100%;
  background-color: #0a0a0a;
  margin-top: 17px;
}

.chat_line2 {
  height: 1px;
  width: 100%;
  background-color: #0a0a0a;
}

.chat_lineb {
  height: 2px;
  width: 100%;
  background-color: #0a0a0a;
  margin-top: 17px;
  margin-bottom: 17px;
}

.chat_content_group {
  width: 100%;
  flex-grow: 1;
  max-height: 48vh;
  height: 48vh;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  overflow-y: auto;
}

.inquiry_content_group {
  width: 100%;
  flex-grow: 1;
  min-height: 62vh;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  overflow-y: auto;
}

.chat_content_group > p,
.inquiry_content_group > p {
  padding: 5px 17px;
  background-color: #8a8a8a;
  color: #fcfefd;
  border-radius: 50px;
}

.chat_content_text {
  white-space: pre-wrap;  
  word-wrap: break-word;  
  word-break: break-word; 
  width: 100%;           
  box-sizing: border-box; 
}


.chat_content_box {
  height: auto;
  border-radius: 8px;
  background-color: #eeeff0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin-left: 10px;
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 50%;
  line-height: 21px;
}

.chat_content_box img {
  position: absolute;
  left: -8px;
  top: 0px;
  width: 15px;
  height: 15px;
}

.chat_content_box2 {
  height: auto;
  border-radius: 8px;
  background-color: #0371b9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  margin-right: 10px;
  color: #fcfefd;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 60%;
  line-height: 21px;
}

.chat_content_box2 img {
  position: absolute;
  right: calc(-8px);
  top: 0px;
  width: 15px;
  height: 15px;
}

.chat_content_box div:nth-child(1) {
  position: absolute;
  top: -25px;
  width: 300px;
  margin-left: 0px;
  left: 0px;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 16px;
}

.chat_content_box2 div:nth-child(1) {
  display: none;
}

.chat_content_box2 div:nth-child(2) {
  display: flex;
  position: absolute;
  left: calc(-100px);
  top: 0px;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 16px;
  color: #8a8a8a;
  flex-direction: column;
  width: 100px;
}

.chat_content_box2 div p:nth-child(2) {
  text-align: right;
  width: 90px;
}

.chat_content_box2 div p:nth-child(1) {
  width: 90px;
  text-align: right;
}

.chat_content_box div:nth-child(2) {
  display: flex;
  position: absolute;
  right: calc(-100px);
  top: 0px;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 16px;
  color: #8a8a8a;
  flex-direction: column;
  width: 100px;
  padding-left: 10px;
}

.chat_content_box div p:nth-child(2) {
  text-align: left;
  width: 100px;
}

.chat_content_box div p:nth-child(1) {
  width: 100px;
  text-align: left;
}

.chat_content_box3 {
  min-height: 40px;
  border-radius: 8px;
  background-color: #eeeff0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  position: relative;
}

.chat_input_group {
  padding: 17px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #8a8a8a;
  position: relative;
}

.chat_input_group textarea {
  width: 94%;
  min-height: 43px;
  margin-left: 0px;
  margin-right: 10px;
  background-color: #eeeff0;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  vertical-align: middle;
  padding-top: calc(10px);
  padding-bottom: 10px;
  resize: none;
  padding-right: 10px;
}

.chat_input_group textarea::placeholder {
  font-size: 17px;
  font-weight: 600;
  color: #8a8a8a;
}

.chat_input_group button {
  position: absolute;
  right: 0px;
  top: calc(28.6px);
  width: 24px;
  height: 24px;
  margin-right: 0px;
  border: none;
  border-radius: 50%;
  background-color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  padding-top: 1px;
}

.chat_input_group button.active {
  background-color: #0371b9;
  cursor: pointer;
}

.chat_input_group button span {
  color: #fcfefd;
  font-size: 17px;
  font-weight: 500;
}
